body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    color: #d4c9c9;
}

a {
    color: goldenrod; 

}

img{    
    border-radius: 10px;

}

.button{
    padding: 5px 10px;
    background-color: green;
    color: rgb(216, 194, 194)  ;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.button:hover{
    background-color: orange;
}